body, html {
  overflow: hidden;
}
.desktop-6 .rectangle-30 {
    background: #B9B9E4;
    position: absolute;
    top: 146px;
    width: 100vw;
    height: 74px;
    left: 0;
  }
  
  .desktop-6 .object-other-17 {
    background: url('/static/object_other_17.png') 50% / cover no-repeat;
    /* width: 316px; */
    height: 350px;
  }
  
  .desktop-6 .object-other-17 {
    position: absolute;
    left: 270px;
    top: 250px;;
    display: flex;
    width: 360px;
    height: 320px;
    box-sizing: border-box;
  }
  
  .desktop-6 .line-3, .desktop-6 .line-4, .desktop-6 .line-5,
  .desktop-6 .line-31, .desktop-6 .line-41, .desktop-6 .line-51,
  .desktop-6 .line-32, .desktop-6 .line-42, .desktop-6 .line-52,
  .desktop-6 .line-33, .desktop-6 .line-43, .desktop-6 .line-53 {
    background: #000000;
    width: 18px;
    height: 0px;
    margin-bottom: 3px;
  }
  
  .desktop-6 .group-46, .desktop-6 .group-47, .desktop-6 .group-48, .desktop-6 .group-49 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18px;
    box-sizing: border-box;
    margin-bottom: 106px;
  }
  
  .desktop-6 .group-47, .desktop-6 .group-48 {
    margin-bottom: 102px;
  }
  
  .desktop-6 .group-49 {
    margin-left: 8px;
  }
  
  .desktop-6 .container {
    margin: 169px 10px 51px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26px;
    height: fit-content;
    box-sizing: border-box;
  }
  
  .desktop-6 .home-doctors-patient-about-our-project {
    margin-top: 10px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 24px;
    line-height: 4.667;
    text-transform: capitalize;
    color: #000000;
    /* text-color */
  }
  
  .desktop-6 .group-50 {
    background: #9F9FE0;
    position: relative;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    padding: 118px 0 197px 30px;
    width: 335px;
    box-sizing: border-box;
  }
  
  .desktop-6 .admins-desk {
    margin-bottom: 133px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.188;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top:-10px;
  }
  
  .desktop-6 .manage-and-see-how-our-data-is-revolutionized-and-visualized-for-the-readmission-risk-prediction {
    margin-bottom: 85px;
    display: inline-block;
    align-self: flex-end;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 30px;
    line-height: 2;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 340px;
    margin-right: 20px;
  }
  
  .desktop-6 .container-1 {
    margin-left: 207.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 557px;
    box-sizing: border-box;
  }
  
  .desktop-6 .container-3 {
    margin: 59px 0 250px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .desktop-6 .container-2 {
    margin-bottom: 2316px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  
  .desktop-6 .fomo, .desktop-6 .about-us, .desktop-6 .contact, .desktop-6 .services {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.375;
    color: #FFFFFF;
  }
  
  .desktop-6 .fomo {
    margin-right: 14px;
    text-transform: uppercase;
  }
  
  .desktop-6 .about-us, .desktop-6 .contact {
    text-transform: capitalize;
  }
  
  .desktop-6 .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 1043px;
    box-sizing: border-box;
  }
  
  .desktop-6 .container-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 2693.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  
  .desktop-6 {
    background: #18224A;
    display: flex;
    padding-left: 14px;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    margin-left: 0px;
  }
  .desktop-6 a {
    color: #000000; /* Black color for all links */
    text-decoration: none; /* Remove underline if needed */
  }
  
  .button {
    display: inline-block;
    border-radius: 72px;
    background: #AAD9D9;
    padding: 4px 3.2px 7px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    line-height: 2;
  }
  
  .visualize {
    margin-left: 85px;
    width: 262px;
  }
  
  .add-patients {
    margin-left: 55px;
    width: 247px;
    margin-top: 5px;
  }
  