body {
  background-color: #eac6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header {
  text-align: center;
  color: white;
  background-color: #6b2e7e;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: 30px 30px;
  left: 0;
}

.header h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

form {
  background-color: #6b2e7e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 50px;
  border: none;
  border-radius: 50px;
  padding: 80px 60px;
}

form label {
  color: white;
  margin-bottom: 30px;
  align-self: flex-start;
  font-size: 30px;
}

form input {
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 50px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  padding: 20px 20px;
  background-color: #a8fdf8;
  border: none;
  border-radius: 50px;
  color: #6b2e7e;
  font-weight: bold;
  font-size: 30px;
  margin-top:15px;
  width: 70%;
}

form button:hover {
  background-color: #65f7e8;
}

#form {
  margin-top: 300px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 80px 60px;
}